<article class="container" style="margin-top:-18px;">
	<section class="well well-small mePadd">
		<h1>you are in staff dashboard</h1>
	</section>
</article>

<% @t.each do |n| %>
<%= n.subject %>
<% end %>
