<div style="position: static;" class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a data-target=".subnav-collapse" data-toggle="collapse" class="btn btn-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a href="/" class="brand">SupportStack</a>
        <div class="nav-collapse subnav-collapse">
          <div class="pull-right">
            
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "navbar-search"}) do |f| %>

              <%= f.email_field :email, placeholder: "Email", class: "span3 input-block-level search-query" %>

              <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "span3 input-block-level search-query" %>

              <button class="btn btn-success btn-large" style="margin-top:-1px;" type="submit" name="login">login</button>
            
            <% end %>

          </div>
        </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div>